<!DOCTYPE html>
<html lang="en"> 
<head profile="http://www.w3.org/2005/10/profile">
    <meta charset="UTF-8">
    <meta name="description" content="{{siteTitle}}">
    <meta name="author" content="{{siteAuthor}}">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>{{siteTitle}}</title>
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{>site/templates/header.html}}
<div id="page">
  <div class="page-content">
  <h1>{{title}}</h1>
  {{#tags}}
  <div class="tags">
  tags:{{#.}}<a class="post-tag" href="tags/{{.}}.html">{{.}}</a>{{/.}}
  </div>
  {{/tags}}
  {{>site/templates/post-list.html}}
  </div>
</div>

{{>site/templates/footer.html}}
