<!DOCTYPE html>
<html lang="en"> 
<head profile="http://www.w3.org/2005/10/profile">
    <meta charset="UTF-8">
    <meta name="description" content="{{siteTitle}}">
    <meta name="author" content="{{author}}">
    <meta name=viewport content="width=device-width, initial-scale=1">
    {{>site/templates/meta-data.html}}
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{>site/templates/header.html}}

<div id="page">
    <div class="page-content">
      <div class="masthead">
          <span class="title">
              {{title}}
          </span>
          <br>
          {{#author}}
          <span class="byline">{{author}}</span>
          {{/author}}
          <br>
          <span class="date">{{date}}</span>
          <br>
          <div class="metadata">
          </div>
      </div>
      <article class="post">
          {{{content}}}
      </article>
    </div>
</div>

{{>site/templates/footer.html}}
